<section id="property-form" class="bg-white p-8 rounded-lg shadow-md">
  <form [formGroup]="propertyForm" (ngSubmit)="addProperty()" class="space-y-6">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Provincias -->
      <div>
        <label class="block text-gray-700 font-bold mb-2">Province</label>
        <select formControlName="provinceId" class="w-full px-3 py-2 border rounded-lg bg-white">
          <option value="0">Select a province</option>
          @for (p of provinces(); track p.id) {
          <option [ngValue]="p.id">{{ p.name }}</option>
          }
        </select>

        @if (getControl('provinceId').touched && getControl('provinceId').invalid) {
        <div class="text-sm text-red-700 mt-1">
          @if (getControl('provinceId').errors?.['required']) {
          <div>Province is required.</div>
          }
          @if (getControl('provinceId').errors?.['pattern']) {
          <div>Please select a valid province.</div>
          }
        </div>
        }
      </div>

      <!-- Town -->
      <div>
        <label class="block text-gray-700 font-bold mb-2">Town</label>
        <select formControlName="townId" class="w-full px-3 py-2 border rounded-lg bg-white">
          <option value="0">Select a town</option>
          @for (t of towns(); track t.id) {
          <option [ngValue]="t.id">{{ t.name }}</option>
          }
        </select>

        @if (getControl('townId').touched && getControl('townId').invalid) {
        <div class="text-sm text-red-700 mt-1">
          @if (getControl('townId').errors?.['required']) {
          <div>Town is required.</div>
          }
          @if (getControl('townId').errors?.['pattern']) {
          <div>Please select a valid town.</div>
          }
        </div>
        }
      </div>
    </div>

    <!-- Address -->
    <div>
      <label class="block text-gray-700 font-bold mb-2">Address</label>
      <input type="text" formControlName="address" class="w-full px-3 py-2 border rounded-lg" />

      @if (getControl('address').touched && getControl('address').hasError('required')) {
      <div class="text-sm text-red-700 mt-1">Address is required.</div>
      }
    </div>

    <!-- Title -->
    <div>
      <label class="block text-gray-700 font-bold mb-2">Listing Title</label>
      <input type="text" formControlName="title" class="w-full px-3 py-2 border rounded-lg" />

      @if (getControl('title').touched && getControl('title').invalid) {
      <div class="text-sm text-red-700 mt-1">
        @if (getControl('title').errors?.['required']) {
        <div>Title is required.</div>
        }
        @if (getControl('title').errors?.['minlength']) {
        <div>Title must be at least 5 characters.</div>
        }
        @if (getControl('title').errors?.['pattern']) {
        <div>Only letters and spaces allowed.</div>
        }
      </div>
      }
    </div>

    <!-- Description -->
    <div>
      <label class="block text-gray-700 font-bold mb-2">Description</label>
      <textarea formControlName="description" class="w-full px-3 py-2 border rounded-lg"></textarea>

      @if (getControl('description').touched && getControl('description').hasError('required')) {
      <div class="text-sm text-red-700 mt-1">Description is required.</div>
      }
    </div>

    <!-- sqmeters -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div>
        <label class="block font-bold mb-2">Square meters</label>
        <input type="number" formControlName="sqmeters" class="w-full border px-3 py-2" />

        @if (getControl('sqmeters').touched && getControl('sqmeters').invalid) {
        <div class="text-sm text-red-700 mt-1">
          @if (getControl('sqmeters').errors?.['required']) {
          <div>Required.</div>
          }
          @if (getControl('sqmeters').errors?.['min']) {
          <div>Must be at least 1.</div>
          }
        </div>
        }
      </div>

      <!-- numRooms-->
      <div>
        <label class="block font-bold mb-2">Rooms</label>
        <input type="number" formControlName="numRooms" class="w-full border px-3 py-2" />

        @if (getControl('numRooms').touched && getControl('numRooms').invalid) {
        <div class="text-sm text-red-700 mt-1">
          <div>Must be between 1 and 20.</div>
        </div>
        }
      </div>

      <!-- numBaths -->
      <div>
        <label class="block font-bold mb-2">Baths</label>
        <input type="number" formControlName="numBaths" class="w-full border px-3 py-2" />

        @if (getControl('numBaths').touched && getControl('numBaths').invalid) {
        <div class="text-sm text-red-700 mt-1">
          <div>Must be between 1 and 20.</div>
        </div>
        }
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Price-->
      <div>
        <label class="block font-bold mb-2">Price (€)</label>
        <input type="number" formControlName="price" class="w-full border px-3 py-2" />

        @if (getControl('price').touched && getControl('price').invalid) {
        <div class="text-sm text-red-700 mt-1">
          <div>Price must be at least 1€.</div>
        </div>
        }
      </div>

      <!--mainPhoto -->
      <div>
        <label class="block font-bold mb-2">Main Photo</label>
        <input type="file" encodeBase64 (change)="changeImage($event.target)"
          class="w-full text-gray-700 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100">
        <input type="hidden" formControlName="mainPhoto" />

        @if (getControl('mainPhoto').touched && getControl('mainPhoto').invalid) {
        <div class="text-sm text-red-700 mt-1">Image is required.</div>
        }

        <!-- Contenedor para la previsualización de la imagen -->
        @if (imagePreview()) {
        <img [src]="imagePreview()" class="w-full h-48 object-cover rounded-lg" />
        }
      </div>
    </div>

    <button type="submit" [disabled]="propertyForm.invalid"
      class="w-full bg-blue-500 text-white py-3 rounded-lg disabled:bg-blue-300">
      Add Property
    </button>
  </form>
</section>