@import "tailwindcss";

@import "ol/ol.css";
@import "@geoapify/geocoder-autocomplete/styles/minimal.css";


:is(input,textarea,select) {
  @apply border rounded-md;

  &.is-invalid {
    @apply border-red-700 ring-red-600;
  }
  &.is-valid {
    @apply border-green-700 ring-green-700;
  }

  &:not(.is-invalid) ~ .error-msg {
    @apply hidden;
  }

  &:focus {
    @apply ring-1;
  }
}

.autocomplete-container {
    position: relative;
}

.geoapify-autocomplete-input {
    border: none;
}

.geoapify-input-wrapper {
    border: 1px #ddd solid;
}

.ol-map-container {
  width: 100%;
  height: 400px; /* Ajusta según lo que necesites */
}
